<div class="row mt-3">
  <div class="col-md-auto pe-5 text-center">
  <%= image_tag @user.avatar.variant(:large), class: 'avatar-profile', width: '100%', height: 'auto', alt: 'Avatar' if @user.avatar.attached? %>
    <h2><%= @user.name %></h2>
    <p>
    <strong>Username: </strong><%= @user.username %><br>
    <strong>Created at: </strong><%= @user.created_at.strftime('%b %Y') %>
    </p>
  </div>
  <div class="col">
    <%= @user.about %>
  </div>
</div>
