<div class="form-session">

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <h1>Forgot your password?</h1>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-floating mb-3">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      <%= f.label :email %>
    </div>

    <div class="mb-4">
      <%= f.submit "Send me a mail", class: "w-100 btn btn-lg btn-primary" %>
    </div>
  <% end %>

  <div class="text-center">
    <%= render "devise/shared/links" %>
  </div>
</div>
