<div data-controller="chat" class="card">
  <%= hidden_field_tag :chat_uid, @chat.uid %>
  <%= hidden_field_tag :public_user_id, @public_user_id %>

  <div class="card-header">
    <h3><%= @chat.name %></h3>
  </div>
  <div id="messages" class="card-body" style="height: 25rem; overflow: scroll;">
    <% @chat.messages.each do |message| %>
      <p class="message <%= 'bg-primary' if message.user == current_user %>">
        <%= message.value %>
      </p>
    <%end%>
  </div>
  <div class="card-footer">
    <%= form_with(url: message_path(@chat.uid), method: 'post') do %>
      <div class="input-group">
        <%= text_field_tag :message, nil, class: 'form-control', autocomplete: 'off' %>
        <button class="btn btn-primary">
          <i class="fa-solid fa-paper-plane"></i> Send
        </button>
      </div>
    <%end%>
  </div>
</div>
