<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Confess***al</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "https://kit.fontawesome.com/d6868d17ad.js", defer: true, crossorigin: "anonymous" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap" rel="stylesheet">
    <%# favicon_link_tag 'eye.png', type: 'image/png' %>
    <meta name="description" content="A social network?">
  </head>

  <body>
    <%= render 'layouts/navbar' if user_signed_in? %>
    <main class="container mt-3">
      <%= render 'layouts/notices' %>
      <%= yield %>
    </main>
  </body>
</html>
